@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.main {
  font-family: 'Helvetica Neue', 'Segoe UI', Verdana, sans-serif;
}

#comment:focus {
  outline: none;
}
